fastapi
uvicorn
motor
pymongo
python-multipart
openai
python-dotenv
numpy
python-docx
pypdf
Pillow
opencv-contrib-python==5.0.0.93
mediapipe==1.0.0
pyannote.audio==4.0.7
reportlab
argon2-cffi
PyJWT
email-validator
weaviate-client==4.22.0
